@import 'variables';

.main-container {
  width: 90%;
  max-width: $max-page-width;
  margin: auto;
  padding: 20px 0;
  min-height: calc(100vh - 140px);
}

body {
  margin: 0;
}

table {

}

td, th {
  padding: 10px;
}

a {
  color: $color-light-accent;
}

p {
  white-space: pre-line;
}
